<p id="notice"><%= notice %></p>
#app/views/cocktails/index.html.erb
<%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :name, input_html: {value: ""} %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>
<h1>Oncokbs</h1>

<table>
  <thead>
    <tr>
      <th>Isoform</th>
      <th>Ref seq</th>
      <th>Entrez gene</th>
      <th>Gene name</th>
      <th>Alteration</th>
      <th>Cancer type</th>
      <th>Level type</th>
      <th>Oncokb drugs</th>
      <th>Pmid</th>
      <th>Abstracts drugs</th>
      <th>Drug bank name</th>
      <th>Drug bank</th>
      <th>Icd 10 codes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oncokbs.each do |oncokb| %>
      <tr>
        <td><%= oncokb.isoform %></td>
        <td><%= oncokb.ref_seq %></td>
        <td><%= oncokb.entrez_gene_id %></td>
        <td><%= oncokb.gene_name %></td>
        <td><%= oncokb.alteration %></td>
        <td><%= oncokb.cancer_type %></td>
        <td><%= oncokb.level_type %></td>
        <td><%= oncokb.oncokb_drugs %></td>
        <td><%= oncokb.pmid %></td>
        <td><%= oncokb.abstracts_drugs %></td>
        <td><%= oncokb.drug_bank_name %></td>
        <td><%= oncokb.drug_bank_id %></td>
        <td><%= oncokb.icd_10_codes %></td>
        <td><%= link_to 'Show', oncokb %></td>
        <td><%= link_to 'Edit', edit_oncokb_path(oncokb) %></td>
        <td><%= link_to 'Destroy', oncokb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oncokb', new_oncokb_path %>
