<p id="notice"><%= notice %></p>

<p>
  <strong>Gene symbol copy:</strong>
  <%= @civic.gene_symbol_copy %>
</p>

<p>
  <strong>Gene symbol:</strong>
  <%= @civic.gene_symbol %>
</p>

<p>
  <strong>Gene hgnc:</strong>
  <%= @civic.gene_hgnc %>
</p>

<p>
  <strong>Ensembl gene:</strong>
  <%= @civic.ensembl_gene %>
</p>

<p>
  <strong>Ref seq accession:</strong>
  <%= @civic.ref_seq_accession %>
</p>

<p>
  <strong>Entrez gene:</strong>
  <%= @civic.entrez_gene %>
</p>

<p>
  <strong>Variants:</strong>
  <%= @civic.variants %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @civic.disease %>
</p>

<p>
  <strong>Do:</strong>
  <%= @civic.do %>
</p>

<p>
  <strong>Phenotypes:</strong>
  <%= @civic.phenotypes %>
</p>

<p>
  <strong>Drugs:</strong>
  <%= @civic.drugs %>
</p>

<p>
  <strong>Evidence type:</strong>
  <%= @civic.evidence_type %>
</p>

<p>
  <strong>Evidence direction:</strong>
  <%= @civic.evidence_direction %>
</p>

<p>
  <strong>Evidence level:</strong>
  <%= @civic.evidence_level %>
</p>

<p>
  <strong>Clinical significance:</strong>
  <%= @civic.clinical_significance %>
</p>

<p>
  <strong>Evidence statement:</strong>
  <%= @civic.evidence_statement %>
</p>

<p>
  <strong>Pubmed:</strong>
  <%= @civic.pubmed %>
</p>

<p>
  <strong>Citation:</strong>
  <%= @civic.citation %>
</p>

<p>
  <strong>Nct ids:</strong>
  <%= @civic.nct_ids %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @civic.rating %>
</p>

<p>
  <strong>Evidence status:</strong>
  <%= @civic.evidence_status %>
</p>

<p>
  <strong>Evidence:</strong>
  <%= @civic.evidence %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @civic.variant %>
</p>

<p>
  <strong>Gene:</strong>
  <%= @civic.gene %>
</p>

<p>
  <strong>Chromosome:</strong>
  <%= @civic.chromosome %>
</p>

<p>
  <strong>Start position:</strong>
  <%= @civic.start_position %>
</p>

<p>
  <strong>Stop position:</strong>
  <%= @civic.stop_position %>
</p>

<p>
  <strong>Reference bases:</strong>
  <%= @civic.reference_bases %>
</p>

<p>
  <strong>Variant bases:</strong>
  <%= @civic.variant_bases %>
</p>

<p>
  <strong>Representative transcript:</strong>
  <%= @civic.representative_transcript %>
</p>

<p>
  <strong>Chromosome2:</strong>
  <%= @civic.chromosome2 %>
</p>

<p>
  <strong>Start position2:</strong>
  <%= @civic.start_position2 %>
</p>

<p>
  <strong>Stop position2:</strong>
  <%= @civic.stop_position2 %>
</p>

<p>
  <strong>Representative transcript2:</strong>
  <%= @civic.representative_transcript2 %>
</p>

<p>
  <strong>Ensembl version:</strong>
  <%= @civic.ensembl_version %>
</p>

<p>
  <strong>Reference build:</strong>
  <%= @civic.reference_build %>
</p>

<p>
  <strong>Variant summary:</strong>
  <%= @civic.variant_summary %>
</p>

<p>
  <strong>Variant origin:</strong>
  <%= @civic.variant_origin %>
</p>

<p>
  <strong>Last review date:</strong>
  <%= @civic.last_review_date %>
</p>

<p>
  <strong>Evidence civic url:</strong>
  <%= @civic.evidence_civic_url %>
</p>

<p>
  <strong>Variant civic url:</strong>
  <%= @civic.variant_civic_url %>
</p>

<p>
  <strong>Gene civic url:</strong>
  <%= @civic.gene_civic_url %>
</p>

<p>
  <strong>Drug bank name:</strong>
  <%= @civic.drug_bank_name %>
</p>

<p>
  <strong>Drug bank:</strong>
  <%= @civic.drug_bank %>
</p>

<p>
  <strong>Icd 10 codes:</strong>
  <%= @civic.icd_10_codes %>
</p>

<%= link_to 'Edit', edit_civic_path(@civic) %> |
<%= link_to 'Back', civics_path %>
