<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @gdkd.id %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @gdkd.Disease %>
</p>

<p>
  <strong>Icd10:</strong>
  <%= @gdkd.icd10 %>
</p>

<p>
  <strong>Gene:</strong>
  <%= @gdkd.Gene %>
</p>

<p>
  <strong>Hgnc:</strong>
  <%= @gdkd.hgnc %>
</p>

<p>
  <strong>Ensembl gene:</strong>
  <%= @gdkd.ensembl_gene %>
</p>

<p>
  <strong>Refseq accession:</strong>
  <%= @gdkd.refseq_accession %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @gdkd.Variant %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gdkd.Description %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @gdkd.Effect %>
</p>

<p>
  <strong>Pathway:</strong>
  <%= @gdkd.Pathway %>
</p>

<p>
  <strong>Association1:</strong>
  <%= @gdkd.Association1 %>
</p>

<p>
  <strong>Therapeuticcontext1:</strong>
  <%= @gdkd.TherapeuticContext1 %>
</p>

<p>
  <strong>Status1:</strong>
  <%= @gdkd.Status1 %>
</p>

<p>
  <strong>Evidence1:</strong>
  <%= @gdkd.Evidence1 %>
</p>

<p>
  <strong>Pmid1:</strong>
  <%= @gdkd.PMID1 %>
</p>

<p>
  <strong>Association2:</strong>
  <%= @gdkd.Association2 %>
</p>

<p>
  <strong>Therapeuticcontext2:</strong>
  <%= @gdkd.TherapeuticContext2 %>
</p>

<p>
  <strong>Status2:</strong>
  <%= @gdkd.Status2 %>
</p>

<p>
  <strong>Evidence2:</strong>
  <%= @gdkd.Evidence2 %>
</p>

<p>
  <strong>Pmid2:</strong>
  <%= @gdkd.PMID2 %>
</p>

<p>
  <strong>Association3:</strong>
  <%= @gdkd.Association3 %>
</p>

<p>
  <strong>Therapeuticcontext3:</strong>
  <%= @gdkd.TherapeuticContext3 %>
</p>

<p>
  <strong>Status3:</strong>
  <%= @gdkd.Status3 %>
</p>

<p>
  <strong>Evidence3:</strong>
  <%= @gdkd.Evidence3 %>
</p>

<p>
  <strong>Pmid3:</strong>
  <%= @gdkd.PMID3 %>
</p>

<p>
  <strong>Association4:</strong>
  <%= @gdkd.Association4 %>
</p>

<p>
  <strong>Therapeuticcontext4:</strong>
  <%= @gdkd.TherapeuticContext4 %>
</p>

<p>
  <strong>Status4:</strong>
  <%= @gdkd.Status4 %>
</p>

<p>
  <strong>Evidence4:</strong>
  <%= @gdkd.Evidence4 %>
</p>

<p>
  <strong>Pmid4:</strong>
  <%= @gdkd.PMID4 %>
</p>

<p>
  <strong>Association5:</strong>
  <%= @gdkd.Association5 %>
</p>

<p>
  <strong>Therapeuticcontext5:</strong>
  <%= @gdkd.TherapeuticContext5 %>
</p>

<p>
  <strong>Status5:</strong>
  <%= @gdkd.Status5 %>
</p>

<p>
  <strong>Evidence5:</strong>
  <%= @gdkd.Evidence5 %>
</p>

<p>
  <strong>Pmid5:</strong>
  <%= @gdkd.PMID5 %>
</p>

<p>
  <strong>Association6:</strong>
  <%= @gdkd.Association6 %>
</p>

<p>
  <strong>Therapeuticcontext6:</strong>
  <%= @gdkd.TherapeuticContext6 %>
</p>

<p>
  <strong>Status6:</strong>
  <%= @gdkd.Status6 %>
</p>

<p>
  <strong>Evidence6:</strong>
  <%= @gdkd.Evidence6 %>
</p>

<p>
  <strong>Pmid6:</strong>
  <%= @gdkd.PMID6 %>
</p>

<p>
  <strong>Association7:</strong>
  <%= @gdkd.Association7 %>
</p>

<p>
  <strong>Therapeuticcontext7:</strong>
  <%= @gdkd.TherapeuticContext7 %>
</p>

<p>
  <strong>Status7:</strong>
  <%= @gdkd.Status7 %>
</p>

<p>
  <strong>Evidence7:</strong>
  <%= @gdkd.Evidence7 %>
</p>

<p>
  <strong>Pmid7:</strong>
  <%= @gdkd.PMID7 %>
</p>

<p>
  <strong>Association8:</strong>
  <%= @gdkd.Association8 %>
</p>

<p>
  <strong>Therapeuticcontext8:</strong>
  <%= @gdkd.TherapeuticContext8 %>
</p>

<p>
  <strong>Status8:</strong>
  <%= @gdkd.Status8 %>
</p>

<p>
  <strong>Evidence8:</strong>
  <%= @gdkd.Evidence8 %>
</p>

<p>
  <strong>Pmid8:</strong>
  <%= @gdkd.PMID8 %>
</p>

<p>
  <strong>Prognostic:</strong>
  <%= @gdkd.Prognostic %>
</p>

<p>
  <strong>Pmid9:</strong>
  <%= @gdkd.PMID9 %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @gdkd.Diagnostic %>
</p>

<p>
  <strong>Pmid10:</strong>
  <%= @gdkd.PMID10 %>
</p>

<p>
  <strong>Biologicalrelevancepmid:</strong>
  <%= @gdkd.BiologicalRelevancePMID %>
</p>

<p>
  <strong>Drugbankname1:</strong>
  <%= @gdkd.DrugBankName1 %>
</p>

<p>
  <strong>Drugbankid1:</strong>
  <%= @gdkd.DrugBankID1 %>
</p>

<p>
  <strong>Drugbankname2:</strong>
  <%= @gdkd.DrugBankName2 %>
</p>

<p>
  <strong>Drugbankid2:</strong>
  <%= @gdkd.DrugBankID2 %>
</p>

<%= link_to 'Edit', edit_gdkd_path(@gdkd) %> |
<%= link_to 'Back', gdkds_path %>
