<p id="notice"><%= notice %></p>

<p>
  <strong>Gene symbol:</strong>
  <%= @can_sar_cancer_gene_censuse.gene_symbol %>
</p>

<p>
  <strong>Gene name:</strong>
  <%= @can_sar_cancer_gene_censuse.gene_name %>
</p>

<p>
  <strong>Entrez gene id:</strong>
  <%= @can_sar_cancer_gene_censuse.entrez_gene_Id %>
</p>

<p>
  <strong>Genome location:</strong>
  <%= @can_sar_cancer_gene_censuse.genome_location %>
</p>

<p>
  <strong>Tier:</strong>
  <%= @can_sar_cancer_gene_censuse.tier %>
</p>

<p>
  <strong>Hallmark:</strong>
  <%= @can_sar_cancer_gene_censuse.hallmark %>
</p>

<p>
  <strong>Chr band:</strong>
  <%= @can_sar_cancer_gene_censuse.chr_band %>
</p>

<p>
  <strong>Somatic:</strong>
  <%= @can_sar_cancer_gene_censuse.somatic %>
</p>

<p>
  <strong>Gemline:</strong>
  <%= @can_sar_cancer_gene_censuse.gemline %>
</p>

<p>
  <strong>Tumor types somatic:</strong>
  <%= @can_sar_cancer_gene_censuse.tumor_types_somatic %>
</p>

<p>
  <strong>Tumor types germline:</strong>
  <%= @can_sar_cancer_gene_censuse.tumor_types_germline %>
</p>

<p>
  <strong>Cancer syndrome:</strong>
  <%= @can_sar_cancer_gene_censuse.cancer_syndrome %>
</p>

<p>
  <strong>Tissue types:</strong>
  <%= @can_sar_cancer_gene_censuse.tissue_types %>
</p>

<p>
  <strong>Molecular genetics:</strong>
  <%= @can_sar_cancer_gene_censuse.molecular_genetics %>
</p>

<p>
  <strong>Role in cancer:</strong>
  <%= @can_sar_cancer_gene_censuse.role_in_cancer %>
</p>

<p>
  <strong>Mutation types:</strong>
  <%= @can_sar_cancer_gene_censuse.mutation_types %>
</p>

<p>
  <strong>Translocation partner:</strong>
  <%= @can_sar_cancer_gene_censuse.translocation_partner %>
</p>

<p>
  <strong>Other germline mut:</strong>
  <%= @can_sar_cancer_gene_censuse.other_germline_mut %>
</p>

<p>
  <strong>Other syndrome:</strong>
  <%= @can_sar_cancer_gene_censuse.other_syndrome %>
</p>

<p>
  <strong>Synonyms:</strong>
  <%= @can_sar_cancer_gene_censuse.synonyms %>
</p>

<%= link_to 'Edit', edit_can_sar_cancer_gene_censuse_path(@can_sar_cancer_gene_censuse) %> |
<%= link_to 'Back', can_sar_cancer_gene_censuses_path %>
